<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Make A Wish</h1>
    <form action="wishes/addWish" method="POST">
        <label>Wish Name:
            <input name="wish"></input>
        </label>
        <label>Price:
            <input name="price"></input>
        </label>
        <label>Link to Item:
            <input name="url"></input>
        </label>
        <button type="submit">Make Wish</button>
    </form>

    <ul> 
        <% wishes.forEach(e =>{ %>
            <li>
                <h2><%=e.wish%></h2>
                <span>Cost: $<%=e.price + '.00'%></span>
                <a href='<%=e.url%>'>Link To Item</a>
            </li>
        <%})%>
    </ul>   
    

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>